<% if(typeof errors !== "undefined" ){%>
    <% errors.forEach(function (error) {%>
        <div class="alert-m">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= error.message %>
        </div>
        <%})%>
            <%}%>


