<%if( message.length> 0 ){%>
    <div class="alert-success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= message %>
    </div>
    <%}%>