<footer>
    <div class="footer-dark" dir="rtl">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>خدمات ما</h3>
                        <ul>
                            <li><a href="#">طراحی سایت</a></li>
                            <li><a href="#">توسعه</a></li>
                            <li><a href="#">طراحی</a></li>
                            <li><a href="#">آموزش</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>درباره ما</h3>
                        <ul>
                            <li><a href="#">شرکت</a></li>
                            <li><a href="#">تیم</a></li>
                            <li><a href="#">مشاغل</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>تیم رابا</h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                            گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای
                            شرایط
                            فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
                            کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را
                        </p>
                    </div>

                </div>
                <p class="copyright">Company RABA © 2021</p>
            </div>
        </footer>
    </div>
</footer>