<div class="header">
    <div class="title-profile__user">
        <div class="right-title-profile">
            <p> پروفایل کاربری : <span><%= user.fullname %></span></p>
        </div>
        <div class="left-title-profile">
            <img src="https://picsum.photos/200" alt="">
        </div>
    </div>

    <div class="body-title">
        <h1>سلام دوست من</h1>
        <p class="title-desc">
            این صفحه نمایه شما است. می توانید پیشرفتی را که با کار خود به دست آورده اید مشاهده کنید و پروژه ها یا
            کارهای محوله خود را مدیریت کنید
        </p>
        <a class="btn btn-light" href="/">بازگشت به خانه</a>
    </div>

</div>