<div class="right-page">
    <div class="nav-bar">
        <div class="navbar-items">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> خانه </a>
            <a class="nav-link" href="/blogs"><i class="fas fa-file-alt"></i> وبلاگ </a>
            <a class="nav-link" href="/contactus"> <i class="fas fa-phone"></i> تماس با ما</a>
            <a class="nav-link" href="/aboutus"> <i class="fas fa-user-friends"></i> درباره ما</a>
        </div>
    </div>
    <div class="body-right">
        <div class="logo">
            <img src="" alt="">
        </div>
        <div class="text-body__right">
            <div class="title">
                <h5>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h5>
                <h6>همین حالا حساب کاربری خودت را بساز و دوران جدید وبلاگ نویسی را شروع کن.</h6>
            </div>
            <div class="body">
                <p>
                    <i class="fas fa-check-double"></i>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                    است،
                </p>
                <p>
                    <i class="fas fa-check-double"></i>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                    است،
                </p>
                <p>
                    <i class="fas fa-check-double"></i>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                    است،
                </p>
                <p>
                    <i class="fas fa-check-double"></i>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                    است،
                </p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-desc">
            <p>© تمام حقوق برای رابا محفوظ است</p>
        </div>
        <div class="footer-icon">
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</div>