<%- include("./includes/Header.ejs") %>
    <!-- ALERT START -->
    <div class="container my-5 " dir="rtl">
        <div class="alert alert-dark" role="alert">
            <h4 class="alert-heading text-center">درباره رابا</h4>
            <p class="text-center">با ما تماس بگیرید و ما یک مشاوره رایگان اولیه را برای شما ارائه خواهیم کرد
                برای طراحی وب سایت و اپلیکیشن و مدیریت شبکه های اجتماعی و همچنین سئو سایتتان</p>
            <hr>
            <p class="my-3">
                شرکت رابا با ارائه خدمات برتر طراحی سایت اختصاصی ، طراحی سایت فروشگاهی ، طراحی وب سایت ویژه شرکت ها و
                همچنین خدمات سئو و پشتیبانی وب سایت در خدمات شماست.

                طراحی وب سایت فروشگاهی و شرکتی
                سئو و بهینه سازی وب سایت
                طراحی اپلیکیشن های موبایلی
                مدیریت پیج های اینستاگرام
            </p>
            <br>
            <p class="my-2">
                رابا یکی از موفق ترین شرکت های فعال در زمینه طراحی سایت و سئو و مدیریت پیج های اینستاگرام در ایران است
                این افتخار حاصل تلاش تیمی خلاق و متعهد و اعتماد مشتریان است. ما منظم هستیم ، ما خلاق هستیم ، ما سرسخت
                هستیم!
            </p>
        </div>
    </div>
    <!-- ALERT START -->
    <%- include("./includes/Footer.ejs") %>